<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/img/tictactoe.png" alt="TicTacToe Icon" width="30" height="30" class="d-inline-block align-text-top me-2" />
            TicTacToe
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => NavigateToGame(false)">
                <span class="oi oi-plus" aria-hidden="true"></span> Player vs. Player
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => NavigateToGame(true)">
                <span class="oi oi-plus" aria-hidden="true"></span> Player vs. AI
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Inject] NavigationManager NavigationManager { get; set; }

    private void NavigateToGame(bool playerVsAi)
    {
        NavigationManager.NavigateTo($"/game/{playerVsAi}");
    }
}
