@page "/game"

<PageTitle>Game</PageTitle>

<h1>Game</h1>

<div class="container">
    <div class="row p-100">
        <div class="row line-bottom text-center">
            <div class="col-4  line-right d-flex justify-content-center ">
                <button class="btn-tictac">X</button>
            </div>
            <div class="col-4  line-right">
                <button class="btn-tictac">O</button>
            </div>
            <div class="col-4 ">
                <button class="btn-tictac">X</button>
            </div>
        </div>
        <div class="row line-bottom text-center">
            <div class="col-4  line-right">
                <button class="btn-tictac">O</button>
            </div>
            <div class="col-4  line-right">
                <button class="btn-tictac">X</button>
            </div>
            <div class="col-4 ">
                <button class="btn-tictac">X</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4  line-right">
                <button class="btn-tictac">X</button>
            </div>
            <div class="col-4  line-right">
                <button class="btn-tictac">X</button>
            </div>
            <div class="col-4 ">
                <button class="btn-tictac">O</button>
            </div>
        </div>
    </div>
</div>
@* <p role="status">Current count: @currentCount</p>
 *@
@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
 *@
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
